@import url("https://fonts.googleapis.com/css2?family=Garamond:wght@400;500;600;700&family=Georgia:wght@400;700&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

* {
  font-family: system-ui, -apple-system, segoe ui, Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
}

body {
  color: #111827;
}
